* {
  transition: all 0.2s ease-in-out;
}

body {
  background: black;
  font-family: 'Arial', Sans-Serif;
  margin: 0;
}

.container {
  width: 100vw;
  display: grid;
  height: 100vh;
  place-items: center;
}

.form-container {
  max-width: 400px;
  width: 70%;
  background: white;
  text-align: center;
  margin: 0;
  padding: 35px 20px;
  border-radius: 10px;
}

.form-head {
  margin-bottom: 25px;
}

.form-head * {
  margin: 0;
}

.form-line {
  width: 100%; 
  height: 2px;
  background: grey;
  margin-top: 20px;
}

.form-group {
  margin:20px auto;
  width: 75%;
  display: flex;
  gap: 4Px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
}

.form-group:focus-within {
  outline: 6px solid darkgrey;
  border: 2px solid grey;
}

input {
  display: block;
  width: 75%;
  border: none;
  border-radius: 5px;
  height: 35px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: .8rem;
  font-family: Monospace, Sans-Serif;
}

.btn-primary {
  background: black;
  color: white;
  padding: 14px 0;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bold;
  width: 75%;
  border: none;
}

.btn-primary:hover {
  opacity: .5;
}
