* {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: 'Arial', Sans-Serif;
  margin: 0;
}

.container {
  width: 100vw;
  display: grid;
  height: 100vh;
  place-items: center;
}

.form-container {
  max-width: 270px;
  width: 70%;
  background: white;
  text-align: center;
  margin: 0;
  padding: 35px 20px;
  border-radius: 10px;
}

#login-form {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.form-head {
  width: 100%;
}

.form-head * {
  margin: 0;
}

.form-line {
  margin: auto;
  width: 70%; 
  height: 2px;
  background: black;
  margin-top: 20px;
}

.form-group {
  width: 75%;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  outline: 2px solid black;
  border-radius: 4px;
}

.form-group:focus-within {
  outline: 3px solid darkgrey;
  border: 2px solid grey;
}

input {
  width: 75%;
  border: none;
  height: 35px;
  box-sizing: border-box;
  padding: 0;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: .8rem;
  font-family: Monospace, Sans-Serif;
}

.btn-primary {
  display: flex;
  gap: 7px;
  justify-content: center;
  background: black;
  color: white;
  padding: 14px 0;
  border-radius: 4px;
  font-weight: bold;
  width: 75%;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: .5;
}
